*{

margin: 0; 
padding: 0; 

font-family: sans-serif;
}
.banner{ 
width: 100%;
height: 100vh; 
background-image: url('Backgroung.jpg');

background-size: cover; 

background-position: center;
}

.navbar{ 

width: 95%; 

margin: auto; 

padding: 25px 0;

display: flex; 

align-items: center; 

justify-content: space-between; 


} 

/* Trying something new */

/* .navbar-brand { float: none; } */
/* .navbar-center { position: absolute; width: 100%; text-align: center; margin: auto; height:100%; } */

.logo{ 
width: 120px; 

cursor: pointer; 

background-color: transparent;
} 

.navbar ul li{ 

list-style: none; 

display: inline-block; 

margin: 10 20px;
position: relative;
}
.navbar ul li a{

text-decoration: none;

color: #a9e6ec; 

text-transform: uppercase; 

} 
.navbar ul li::after{ 

content: ''; 

height: 3px; 

width: 0;


background: #e03009; 

position: absolute;

left: 0; 

bottom: -10px; 

transition: 0.5s;
 }  
.navbar ul li:hover::after{
width: 100%; 
}

.content{

width: 100%;

position: absolute;

top: 50%; 

transform: translateY(-50%); 

text-align: center;
/* font-family: sans-serif;     Added new for any new changes and Editing*/ 
color: #fbfcfc; 
}  
.content h1{

color: #5be5e5;

font-size: 80px;
margin-top: 50px;
}


.content h2{
font-size: 35px; /*Trying something new  */
margin-top:12px;
} 
    
.content h3{
margin-top:12px;  /*Trying something new  */
font-size: 35px;
}
/* .content h4{
/* margin-top:12px;  */ /*Trying something new*/
/* font-size: 40px; */
/*} */

/* .content p{ 
margin: 20px auto; 

font-weight: 
100; 
color: #141d1d;

line-height: 25px;
} */

button{ 
width: 200px; 
padding: 15px 0;
text-align: center;

margin: 20px 10px;
border-radius: 25px; 

font-size: 20px;
font-weight: bold;

border: 3px solid #0c0c0c; 
background: transparent;
color: #4f2a2a; 

cursor: pointer;
position: relative;
overflow: hidden;
}

span{
background: #a2e3e3; 

height: 100%;

width: 0; 

border-radius: 25px; 

position: absolute; 

left: 0; 

bottom: 0;
z-index: -1;
transition: 0.4s;
}

button:hover span{ 
width: 100%; 
} 

button:hover { 


border: none;
}